body {
	background: #fff;
}

#canvas { 
	background: #fff;
	border: 1px solid #000;
	width: 1300px; 
	height: 600px; 
	position: absolute;
	left: calc(50% - 1300px / 2);
	top: calc(50% - 600px / 2);
}